.image {
  width: 20vw;
  height: auto;
}

.title {
  font-size: 7vw;
}

@media only screen and (min-width: 720px) {
  .image {
    width: 10vw;
  }

  .title {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 990px) {
  .title {
    font-size: 48px;
  }
}
